/* [project]/src/app/components/nav.css [app-client] (css) */
.navbar {
  padding: 0;
}

.navbar ul {
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.navbar li {
  position: relative;
}

.navbar a, .navbar a:focus {
  color: #fff;
  white-space: nowrap;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 300;
  transition: all .3s;
  display: flex;
}

.navbar a i, .navbar a:focus i {
  margin-left: 5px;
  font-size: 12px;
  line-height: 0;
}

.navbar a:hover, .navbar .active, .navbar .active.focus, .navbar li:hover > a {
  color: #d9ba85;
}

.navbar .dropdown ul {
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  border-radius: 4px;
  margin: 0;
  padding: 10px 0;
  transition: all .3s;
  display: block;
  position: absolute;
  top: calc(100% + 30px);
  left: 14px;
  box-shadow: 0 0 30px #7f89a140;
}

.navbar .dropdown ul li {
  color: #444;
  min-width: 200px;
  padding: 10px 20px;
}

.navbar .dropdown ul li a {
  font-size: 12px;
}

.navbar .dropdown ul li a:hover, .navbar .dropdown ul li.active:hover, .navbar .dropdown ul li:hover > a {
  color: #cd4a5e;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.navbar .dropdown .dropdown ul {
  visibility: hidden;
  top: 0;
  left: calc(100% - 30px);
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  visibility: visible;
  top: 0;
  left: 100%;
}

@media (width <= 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

.mobile-nav-toggle {
  color: #fff;
  cursor: pointer;
  font-size: 28px;
  line-height: 0;
  transition: all .5s;
  display: none;
}

@media (width <= 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  z-index: 999;
  background: #000000e6;
  transition: all .35s;
  position: fixed;
  inset: 0;
  overflow: hidden;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  background-color: #fff;
  border-radius: 6px;
  padding: 10px 0;
  transition: all .3s;
  display: block;
  position: absolute;
  inset: 55px 15px 15px;
  overflow-y: auto;
}

.navbar-mobile a {
  color: #1a1814;
  padding: 10px 20px;
  font-size: 15px;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #cda45e;
}

.navbar-mobile .getstarted {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  margin: 10px 20px;
  padding: 10px 0;
  display: none;
  position: static;
  box-shadow: 0 0 30px #7f89a140;
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #cda45e;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*# sourceMappingURL=src_app_components_nav_css_f9ee138c._.single.css.map*/