/* [project]/src/app/sections/about.css [app-client] (css) */
.about {
  background: url("../media/about-bg.56c5a69f.jpg") center / cover;
  padding: 80px 0;
  position: relative;
}

.about:before {
  content: "";
  background: #000c;
  position: absolute;
  inset: 0;
}

.about .about-img {
  transition: all .5s;
  position: relative;
}

.about .about-img img {
  border: 4px solid #fff3;
  max-width: 100%;
  height: auto;
  position: relative;
}

.about .about-img:before {
  z-index: 1;
  content: "";
  border-top: 5px solid #cda45e;
  border-left: 5px solid #cda45e;
  width: 60px;
  height: 60px;
  transition: all .5s;
  position: absolute;
  top: 20px;
  left: 20px;
}

.about .about-img:after {
  z-index: 2;
  content: "";
  border-bottom: 5px solid #cda45e;
  border-right: 5px solid #cda45e;
  width: 60px;
  height: 60px;
  transition: all .5s;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.about .about-img:hover {
  transform: scale(1.03);
}

.about .about-img:hover:before {
  top: 10px;
  left: 10px;
}

.about .about-img:hover:after {
  bottom: 10px;
  right: 10px;
}

.about .content {
  position: relative;
}

.about .content h3 {
  font-size: 26px;
  font-weight: 600;
}

.about .content ul {
  padding: 0;
  list-style: none;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  color: #cda45e;
  padding-right: 4px;
  font-size: 20px;
}

.about .content p:last-child {
  margin-bottom: 0;
}

@media (width >= 1024px) {
  .about {
    background-attachment: fixed;
  }
}


/* [project]/src/app/sections/hero.css [app-client] (css) */
#hero {
  background: url("../media/hero-bg.11da108c.jpg") top / cover;
  width: 100%;
  height: 100vh;
  padding: 0;
  position: relative;
}

#hero:before {
  content: "";
  background: #00000080;
  position: absolute;
  inset: 0;
}

#hero .container {
  padding-top: 110px;
}

@media (width <= 992px) {
  #hero .container {
    padding-top: 98px;
  }
}

#hero h1 {
  color: #fff;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 8rem;
  font-weight: 700;
  line-height: 7.5rem;
}

#hero h1 span {
  color: #cda45e;
}

#hero h2 {
  color: #eee;
  margin-bottom: 10px;
  font-size: 2rem;
}

#hero .btns {
  margin-top: 30px;
}

#hero .play-btn {
  background: radial-gradient(#cda45e 50%, #cda45e66 52%);
  border-radius: 50%;
  width: 94px;
  height: 94px;
  display: block;
  position: relative;
  overflow: hidden;
}

#hero .play-btn:after {
  content: "";
  z-index: 100;
  border-top: 10px solid #0000;
  border-bottom: 10px solid #0000;
  border-left: 15px solid #fff;
  width: 0;
  height: 0;
  transition: all .4s cubic-bezier(.55, .055, .675, .19);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-40%)translateY(-50%);
}

#hero .play-btn:before {
  content: "";
  width: 120px;
  height: 120px;
  animation: 2s pulsate-btn;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps;
  opacity: 1;
  background: #c6100000;
  border: 5px solid #cda45eb3;
  border-radius: 50%;
  position: absolute;
  top: -15%;
  left: -15%;
}

#hero .play-btn:hover:after {
  border-left: 15px solid #cda45e;
  transform: scale(20);
}

#hero .play-btn:hover:before {
  content: "";
  z-index: 200;
  border: 10px solid #0000;
  border-left: 15px solid #fff;
  border-right: none;
  border-radius: 0;
  width: 0;
  height: 0;
  animation: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-40%)translateY(-50%);
}

@media (width >= 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (width <= 992px) {
  #hero .play-btn {
    margin-top: 30px;
  }
}

@media (height <= 500px) {
  #hero {
    height: auto;
  }

  #hero .container {
    padding-top: 130px;
    padding-bottom: 60px;
  }
}

@media (width <= 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

@keyframes pulsate-btn {
  0% {
    opacity: 1;
    transform: scale(.6);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}


/* [project]/src/app/components/herobtn.css [app-client] (css) */
#hero .btn-hero {
  letter-spacing: .5px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  border: 2px solid #cda45e;
  border-radius: 50px;
  padding: 12px 30px;
  font-size: 13px;
  font-weight: 600;
  line-height: 1;
  transition: all .3s;
  display: inline-block;
}

#hero .btn-hero:hover {
  color: #fff;
  background: #cda45e;
}


/* [project]/src/app/sections/whyUs.css [app-client] (css) */
.why-us .box {
  background: #1a1814;
  padding: 50px 30px;
  transition: all .3s ease-in-out;
  box-shadow: 0 2px 15px #0000001a;
}

.why-us .box span {
  color: #cda45e;
  font-size: 28px;
  font-weight: 700;
  display: block;
}

.why-us .box h4 {
  color: #fffc;
  margin: 20px 0;
  padding: 0;
  font-size: 24px;
  font-weight: 600;
}

.why-us .box p {
  color: #aaa;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.why-us .box:hover {
  background: #cda45e;
  padding: 30px 30px 70px;
  box-shadow: 10px 15px 30px #0000002e;
}

.why-us .box:hover span, .why-us .box:hover h4, .why-us .box:hover p {
  color: #fff;
}


/* [project]/src/app/components/sectionTitle.css [app-client] (css) */
.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaa;
  margin: 0 0 5px;
  padding: 0;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1px;
}

.section-title h2:after {
  content: "";
  background: #fff3;
  width: 120px;
  height: 1px;
  margin: 4px 10px;
  display: inline-block;
}

.section-title p {
  color: #cda45e;
  margin: 0;
  font-family: Playfair Display, serif;
  font-size: 36px;
  font-weight: 700;
}


/*# sourceMappingURL=src_app_b0e3ea2b._.css.map*/